@import url('https://fonts.googleapis.com/css?family=Archivo+Black');
@import url('https://fonts.googleapis.com/css?family=Alata');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.name-font {
  font-family: 'Archivo Black';
}

.home-font {
  font-family: 'Alata';
}

.elevated-card {
  background-color: #262c32;
}

.custom-primary {
  color: #3a99ff;
}

.custom-primary-btn {
  background-color: #3a99ff !important;
}

.custom-secondary {
  color: #C7FC86;
}


.new-section-element-button {
  color: #000000;
  background-color: #ffffff !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
